body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.data1 {
  color: black;
  display: flexbox;
  background-color: white;
  width: 90%;
  min-height: 0px;
  max-height: 300px;
  margin: auto;
  text-align: center;
  overflow-y: auto;
}
.data1 table {
  align-content: center;
  margin: auto;
  width: 99%;
  overflow: scroll;
  padding: 15px;
}

.data1 table th {
  border-bottom: 3px solid black;
  font-style: italic;
}
.dataholder {
  color: black;
  display: flexbox;
  background-color: white;
  width: 90%;
  min-height: 0px;
  max-height: 300px;
  margin: auto;
  text-align: center;
}
.dataholder table {
  align-content: center;
  margin: auto;
  width: 99%;
  overflow: scroll;
  padding: 15px;
}

.dataholder table th {
  border-bottom: 3px solid black;
  font-style: italic;
}
.popup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.434);
}

.popup_inner_S {
  display: flex;
  position: absolute;
  left: 30%;
  right: 30%;
  top: 5%;
  bottom: 5%;
  background: white;
  color: black;
}

.popup_inner_S input[type="text"],
select {
  width: 40%;
  height: 30px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: large;
}

.popup_inner_S label {
  float: left;
  padding-left: 25%;
  font-style: italic;
}

.popup_inner_S div {
  margin: auto;
  flex: 4;
}

.popup_inner_S button {
  height: 30px;
  width: 150px;
  margin-left: 5px;
  font-size: medium;
  border-radius: 5px;
}

.popup_inner_S #closeBTN:hover {
  background-color: #ff050593;
}

.popup_inner_S #submitBTN:hover {
  background-color: #6dff0593;
}

.popup_inner_V {
  display: flex;
  position: absolute;
  left: 5%;
  right: 5%;
  top: 5%;
  bottom: 5%;
  background: white;
  color: black;
}

.popup_inner_V input[type="text"],
select {
  width: 90%;
  height: 30px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: large;
}

.popup_inner_V label {
  float: left;
  padding-left: 1%;
  font-style: italic;
}

.popup_inner_V div {
  margin: auto;
  flex: 4;
}

.popup_inner_V button {
  height: 30px;
  width: 150px;
  margin-left: 5px;
  font-size: medium;
  border-radius: 5px;
}

.popup_inner_V #closeBTN:hover {
  background-color: #ff050593;
}

.popup_inner_V #submitBTN:hover {
  background-color: #6dff0593;
}
