body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.data1 {
  color: black;
  background-color: white;
  width: 500px;
  height: 300px;
  margin: auto;
}
