body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.data1 {
  color: black;
  display: flexbox;
  background-color: white;
  width: 90%;
  height: 300px;
  margin: auto;
  text-align: center;
}
.data1 table {
  align-content: center;
  margin: auto;
  width: 99%;
  overflow: scroll;
  padding: 15px;
}

.data1 table th {
  border-bottom: 3px solid black;
  font-style: italic;
}
.dataholder {
  color: black;
  display: flexbox;
  background-color: white;
  width: 90%;
  min-height: 50px;
  margin: auto;
  text-align: center;
}
.dataholder table {
  align-content: center;
  margin: auto;
  width: 99%;
  overflow: scroll;
  padding: 15px;
}

.dataholder table th {
  border-bottom: 3px solid black;
  font-style: italic;
}
